/*=============================================
=            Imports            =
=============================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*=====  End of Imports  ======*/



/*=============================================
=            General            =
=============================================*/

body {
    font-family: Outfit;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=====  End of General  ======*/

main {
    background-color: #fff;
    max-width: 965px;
    margin: 100px 0;
    border-radius: 20px;
    padding: 20px;
}